*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.50;
}

html {
    font-size: 16px;
}

body {
    font-family: Helvetica;
    font-size: 1em;
    background: #f7f7f7;
}

a {
    text-decoration: none;
    color: #333;
}

h1 {
    text-transform: uppercase;
    line-height: 1em;
}

h3, p {
    margin: 20px 0;
}

h3 {
    text-transform: uppercase;
}

nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 30px;
    border-bottom: solid 1px #ddd;
    align-items: center;
    text-align: center;
}

main {
    max-width: 1200px;
    margin: 60px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 250px;
    gap: 20px;
}

main div {
    overflow: hidden;
    background: #fff;
    border-radius: 6px;
    border: solid 16px #fff;
    box-shadow: 3px 3px 3px rgba(0, 0 , 0, 0.30);
}

main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .short {
    grid-row: span 1;
}

main .tall {
    grid-row: span 2;
}

@media screen and (max-width: 960px){
    main {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 800px){
    main {
        display: block;
    }

    div {
        max-width: 400px;
        margin: 0 auto;
        margin-bottom: 40px;
    }
}